---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './Base.astro';
import Slideshow from '../components/Slideshow.astro';

type Props = CollectionEntry<'projects'>;

const { data: project } = Astro.props;
---

<BaseLayout title={project.name}>
  <main>
    <div class="brief">
      <h1>{project.name}</h1>
      <h3>{project.subtitle}</h3>
      <a href={project.link} class="project-page">Project Page &rarr;</a>
      <article class="text-content">
        <slot />
      </article>
    </div>
    <div class="spotlight">
      <div class="visual-content">
        {
          project.photos ? (
            <div class="photos">
              <Slideshow photos={project.photos} />
            </div>
          ) : null
        }
      </div>
      <div class="textual-content">
        <div class="technologies">
          <span>Technologies</span>
          <hr />
          <ul>
            {project.technology_used.map((technology) => <li>{technology}</li>)}
          </ul>
        </div>
        <div class="skills">
          <span>Skills</span>
          <hr />
          <ul>
            {project.skills.map((skill) => <li>{skill}</li>)}
          </ul>
        </div>
      </div>
    </div>
    <a href="/projects"><span>&larr;</span> Back to Projects</a>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1rem;
    overflow: unset;
    max-width: 200ch;
  }
  a {
    color: var(--accent);
  }
  .brief {
    display: flex;
    flex-direction: column;
  }
  .brief a {
    text-align: right;
  }
  .spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .visual-content {
    display: flex;
    justify-content: center;
  }
  .textual-content {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1rem;
  }
  ul {
    list-style-type: none;
    list-style-position: outside;
    text-align: right;
  }
</style>
