---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './Base.astro';
import Slideshow from '../components/Slideshow.astro';

type Props = CollectionEntry<'projects'>;

const { data: project } = Astro.props;
---

<BaseLayout title={project.name}>
  <main class="project-highlight">
    <div class="brief">
      <h1>{project.name}</h1>
      <h3>{project.subtitle}</h3>
      <a href={project.link} class="project-link project-page"
        >Project Page &rarr;</a
      >
      <article class="text-content">
        <slot />
      </article>
      <a href="/projects" class="project-link return-breadcrumb"
        ><span>&larr;</span> Back to Projects</a
      >
    </div>
    <div class="spotlight">
      <div class="visual-content">
        {project.photos ? <Slideshow photos={project.photos} /> : null}
      </div>
      <div class="textual-content">
        <div class="technologies">
          <span>Technologies</span>
          <hr />
          <ul>
            {project.technology_used.map((technology) => <li>{technology}</li>)}
          </ul>
        </div>
        <div class="skills">
          <span>Skills</span>
          <hr />
          <ul>
            {project.skills.map((skill) => <li>{skill}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .project-highlight {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1em;
    overflow: visible;
    width: var(--reader-width);
  }
  .project-link {
    color: var(--accent);
  }
  .brief {
    display: flex;
    flex-direction: column;
  }
  .project-page {
    text-align: right;
  }
  .return-breadcrumb {
    text-align: left;
  }
  .spotlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .visual-content {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .textual-content {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1em;
  }
  ul {
    list-style-type: none;
    list-style-position: outside;
    text-align: right;
  }
</style>
